:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #212529;
    --red-color: #ff4a52;
    --gray-color : #ccc;
    --navy-color : #0F2651;
    --blue-color : #104381;
    --green-color: rgb(30, 198, 182);
    --header-height : 157px;
    --text-font : 1.6rem;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Cabin', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.grid {
    width: 1457px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}